
<div class="login">
  <% if flash[:alert] %>
      <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= stylesheet_link_tag "login" %>
  <%= form_tag do %>
      <div id="login_title">Please Sign in</div>

      <div id='noAccount'><p>If you do not have an account, <a href="/users/register">Click here</a> to sign up</p></div>

      <div id="userNameField">
        <label for='userName' id='userNameLabel'>Username:</label>
        <%=text_field_tag :userName,params[:userName],:id => 'userName' %>
      </div>

      <div id="passwordField" >
        <label for='passwordLabel' id='passwordLabel'>Password:</label>
        <%=password_field_tag :password,params[:password],:id => 'password' %>
      </div>

      <p id="notice" style="padding-left: 130px;display: none"><%= notice %></p>

      <div id='login'>
        <%=submit_tag "Login", :class =>'bluebutton cssbutton', :id =>'loginbtn'%>
      </div>

      <div id='loginFB'>
        <%=image_tag("login_facebook.png", :id =>"facebookPic")%>
     </div>

  <% end %>

</div>

<script type="text/javascript">
    if($("#notice").text() == "Invalid userName/password")
        $("#notice").show()
</script>